@model List<List<Course>>

<style>
    table {
        width: 100%;
    }

        table tr:hover {
            background-color: forestgreen;
            color: #fff;
        }

</style>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Course List</h2>
           
        </div>
        <div class="col-6 text-end">          
            <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;  Back
            </a>
        </div>
    </div>
    <br /><br />



    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                @foreach(var obj1 in obj)
                {
                    <tr>
                        <td width="20%">
                            @obj1.CourseName
                        </td>
                        <td width="20%">
                            @obj1.CoursePrice
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Admin" asp-action="EditCourse" asp-route-id="@obj1.CourseId"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                                <a onclick="DelCourses('@obj1.CourseId')"
                           class="btn btn-danger mx-2"><i class="bi bi-trash3"></i>  Delete</a>
                            </div>
                        </td>

                    </tr>
                }
                
            }
        </tbody>

    </table>
    <br />

</div>


@{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        function DelCourses(value) {

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        type: "POST",
                        url: "/Admin/DeleteCourse",
                        // data: "Id="+Id,
                        data: { "Id": value },
                        success: function (data) {
                            window.location.replace("/Admin/ViewCourse");
                        }

                    })
                }
            })
        }


    </script>
}